body {
    background-color: #8D7B68;
}

.title, .contents {
    border-radius: 50px;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: #F1DEC9;
    -webkit-box-shadow: 0px 0px 15px 5px #474747; 
    box-shadow: 0px 0px 15px 5px #2c2c2c91;
    font-size: 50px;
    font-weight:bold;
}

.contents {
    font-size: 20px;
    font-weight: normal;
}

.image {
    width: 100%;
    border-radius: 10px;
    margin: 5px;

}

.img-container {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 25%;
}

.imagerounded {
    border-radius: 20px;
    margin: 5px;
} 

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    transition: 0.2s;
  }
  
  a:visited {
    color: rgb(80, 80, 80);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(65, 65, 65);
    background-color: transparent;
    text-shadow: 2px 2px 4px #8D7B68;
}
  
  a:active {
    color: rgb(124, 124, 124);
    background-color: transparent;
  }